body
  background-image: url(../images/bg1.png)
  background-repeat: no-repeat
  background-size: cover
  font-family: 'Droid Sans'
h1
  color: #fff
  text-align: center
  text-transform: uppercase

*:focus, *:active, *:visited
  outline: none

@import "slick"
@import "card"
